.ps-instagram
    .owl-slider(
    data-owl-auto= 'true',
    data-owl-loop= 'true',
    data-owl-speed= '1000',
    data-owl-gap= '0',
    data-owl-nav= 'false',
    data-owl-dots= 'false',
    data-owl-item= '8',
    data-owl-item-xs= '5',
    data-owl-item-sm= '6',
    data-owl-item-md= '8',
    data-owl-item-lg= '8',
    data-owl-duration= '1000',
    data-owl-mousedrag= 'on'
    )
        a(href='#'): img(src="img/instagram/1.jpg" alt="")
        a(href='#'): img(src="img/instagram/2.jpg" alt="")
        a(href='#'): img(src="img/instagram/3.jpg" alt="")
        a(href='#'): img(src="img/instagram/4.jpg" alt="")
        a(href='#'): img(src="img/instagram/5.jpg" alt="")
        a(href='#'): img(src="img/instagram/6.jpg" alt="")
        a(href='#'): img(src="img/instagram/7.jpg" alt="")
        a(href='#'): img(src="img/instagram/8.jpg" alt="")