.ps-site-partners
    .container
        .ps-carousel--nav.owl-slider(
        data-owl-auto= 'true',
        data-owl-loop= 'true',
        data-owl-speed= '5000',
        data-owl-gap= '0',
        data-owl-nav= 'true',
        data-owl-dots= 'true',
        data-owl-item= '6',
        data-owl-item-xs= '3',
        data-owl-item-sm= '3',
        data-owl-item-md= '4',
        data-owl-item-lg= '5',
        data-owl-duration= '1000',
        data-owl-mousedrag= 'off'
        )
            a(href='#'): img(src="img/partners/1.jpg" alt="")
            a(href='#'): img(src="img/partners/2.jpg" alt="")
            a(href='#'): img(src="img/partners/3.jpg" alt="")
            a(href='#'): img(src="img/partners/4.jpg" alt="")
            a(href='#'): img(src="img/partners/5.jpg" alt="")
            a(href='#'): img(src="img/partners/6.jpg" alt="")