if categories == 'grid'
    .ps-product-categories.grid
        .container
            .row
                +column({cols: [4, 4, 4, 6, 12]})
                    .ps-block--category
                        img(src="img/categories/home-2-1.jpg" alt="")
                        a(href='product-listing.html') Womens<span>(12)</span>
                +column({cols: [4, 4, 4, 6, 12]})
                    .ps-block--category
                        img(src="img/categories/home-2-2.jpg" alt="")
                        a(href='product-listing.html') Mens<span>(12)</span>
                +column({cols: [4, 4, 4, 6, 12]})
                    .ps-block--category
                        img(src="img/categories/3.jpg" alt="")
                        a(href='product-listing.html') Shoes<span>(12)</span>
                +column({cols: [4, 4, 4, 6, 12]})
                    .ps-block--category
                        img(src="img/categories/1.jpg" alt="")
                        a(href='product-listing.html') Bags & Backpack<span>(12)</span>
                +column({cols: [4, 4, 4, 6, 12]})
                    .ps-block--category
                        img(src="img/categories/home-2-3.jpg" alt="")
                        a(href='product-listing.html') New In<span>(12)</span>
                +column({cols: [4, 4, 4, 6, 12]}): .ps-block--category
                    img(src="img/categories/2.jpg" alt="")
                    a(href='product-listing.html') Best Seller<span>(12)</span>
else if categories == 'homepage-6'
    .ps-product-categories.grid
        .row
            +column({cols: [4, 4, 4, 6, 12]})
                .ps-block--category
                    img(src="img/categories/home-2-1.jpg" alt="")
                    a(href='product-listing.html') Womens<span>(12)</span>
            +column({cols: [4, 4, 4, 6, 12]})
                .ps-block--category
                    img(src="img/categories/home-2-2.jpg" alt="")
                    a(href='product-listing.html') Mens<span>(12)</span>
            +column({cols: [4, 4, 4, 6, 12]})
                .ps-block--category
                    img(src="img/categories/3.jpg" alt="")
                    a(href='product-listing.html') Shoes<span>(12)</span>
else
    .ps-product-categories
        .container
            .ps-carousel--nav.owl-slider(
            data-owl-auto= 'true',
            data-owl-loop= 'true',
            data-owl-speed= '10000',
            data-owl-gap= '30',
            data-owl-nav= 'true',
            data-owl-dots= 'true',
            data-owl-item= '3',
            data-owl-item-xs= '1',
            data-owl-item-sm= '2',
            data-owl-item-md= '2',
            data-owl-item-lg= '3',
            data-owl-duration= '1000',
            data-owl-mousedrag= 'on'
            )
                .ps-block--category
                    img(src="img/categories/1.jpg" alt="")
                    a(href='product-listing.html') Bags & Backpack <span>(12)</span>
                .ps-block--category
                    img(src="img/categories/2.jpg" alt="")
                    a(href='product-listing.html') Best Seller<span>(6)</span>
                .ps-block--category
                    img(src="img/categories/3.jpg" alt="")
                    a(href='product-listing.html') Shoes<span>(2)</span>