include ../../data/lookbook
.ps-carousel--home5
    each val, index in lookbook_5
        .item: .ps-block--lookbook
            .ps-block__thumbnail
                img(src="img/lookbook/"+val.imageFolder+"/large.jpg" alt="")
            .ps-block__container
                .ps-block__content
                    h5 #{val.subTitle}
                    h2 !{val.title}
                    .ps-block__desc
                        p #{val.desc}
                    a(href='#').ps-btn.ps-btn--black.ps-btn--outline Shop Now
                .ps-block__footer
                    .owl-slider(
                    data-owl-auto= 'false',
                    data-owl-loop= 'false',
                    data-owl-speed= '5000',
                    data-owl-gap= '10',
                    data-owl-nav= 'false',
                    data-owl-dots= 'false',
                    data-owl-item= '5',
                    data-owl-item-xs= '4',
                    data-owl-item-sm= '4',
                    data-owl-item-md= '4',
                    data-owl-item-lg= '5',
                    data-owl-duration= '1000',
                    data-owl-mousedrag= 'on'
                    )
                        img(src="img/lookbook/"+val.imageFolder+"/1.jpg" alt="")
                        img(src="img/lookbook/"+val.imageFolder+"/2.jpg" alt="")
                        img(src="img/lookbook/"+val.imageFolder+"/3.jpg" alt="")
                        img(src="img/lookbook/"+val.imageFolder+"/4.jpg" alt="")
                        img(src="img/lookbook/"+val.imageFolder+"/5.jpg" alt="")

