.ps-home-banner
    .ps-section__left
        .owl-slider(
        data-owl-auto= 'true',
        data-owl-loop= 'true',
        data-owl-speed= '5000',
        data-owl-gap= '0',
        data-owl-nav= 'false',
        data-owl-dots= 'false',
        data-owl-item= '1',
        data-owl-item-xs= '1',
        data-owl-item-sm= '1',
        data-owl-item-md= '1',
        data-owl-item-lg= '1',
        data-owl-duration= '1000',
        data-owl-mousedrag= 'on'
        )
            a(href='product-fullwidth.html'): img(src="img/banner/home-4/1.jpg" alt="")
            a(href='product-fullwidth.html'): img(src="img/banner/home-4/2.jpg" alt="")
    .ps-section__right
        a(href='product-fullwidth.html').ps-collection: img(src="img/banner/home-4/sm-1.jpg" alt="")
        a(href='product-fullwidth.html').ps-collection: img(src="img/banner/home-4/sm-2.jpg" alt="")